body {
  font-family: 'MuseoSansCyrl', sans-serif;
  font-size: 16px;
  background: rgb(192 192 192 / 0.2);
}

.section {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.sidebar {
  display: grid;
  gap: 30px;
  align-content: start;
  background: rgb(0 156 230);
  min-block-size: 100dvb;
  padding: 10px;
}

.sidebar__logo-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px;
  align-items: center;
}

.sidebar__logo {
  inline-size: 50px;
  block-size: 50px;
  fill: rgb(255 255 255);
}

.sidebar__logo-title {
  font-size: 24px;
  color: rgb(255 255 255);
  font-weight: 700;
}

.sidebar__menu-container {
  display: grid;
  gap: 40px;
  align-content: start;
}

.sidebar__links-list {
  display: grid;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__links-list-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 5px;
  font-weight: 700;
  color: rgb(255 255 255);
  align-items: center;
}

.sidebar__icon {
  inline-size: 20px;
  block-size: 20px;
  fill: rgb(255 255 255);
  place-self: center;
}

.sidebar__link {
  text-decoration: none;
  color: currentColor;
  font-family: inherit;
  line-height: 1;
  font-size: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
  align-items: center;
  padding: 20px;
  background: rgb(255 255 255);
}

.header__search {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  align-items: center;
}

.header__search-icon {
  inline-size: 24px;
  block-size: 24px;
  fill: #222;
}

.header__search-input {
  inline-size: 100%;
  max-inline-size: 600px;
  block-size: 30px;
  border-radius: 15px;
  border: none;
  appearance: none;
  padding-inline: 15px;
  background-color: rgb(245 245 245);
  color: #222;
}

.header__search-input:focus {
  outline: none;
}

.header__search-input:focus-visible {
  outline: 1px solid rgb(192 192 192);
  background-color: rgb(255 255 255);
}

.header__settings {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 15px;
  align-items: center;
  justify-content: end;
}

.header__button-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 32px;
  block-size: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.header__button-notification:hover:has(.header__button-icon) {
  background: rgb(var(--color-share) / var(--opacity-bg));
}

.header__button-icon {
  inline-size: 24px;
  block-size: 24px;
  fill: #222;
}

.header__user-image {
  inline-size: 45px;
  block-size: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background: url('../images/avatar.jpg');
  background-size: 45px;
  cursor: pointer;
}

.header__button-notification:hover .header__button-icon {
  fill: rgb(var(--color-share) / var(--opacity-color));
}

.header__user-name {
  font-size: 18px;
  font-weight: 700;
  color: #222;
}

.header__profile {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 20px;
}

.header__profile-image {
  inline-size: 100px;
  block-size: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background: url('../images/avatar.jpg');
  background-size: 100px;
}

.header__greeting {
  font-weight: 700;
  color: #222;
}

.header__profile-name {
  font-size: 22px;
  color: #222;
}

.header__button-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.header__button {
  block-size: 40px;
  min-inline-size: 120px;
  padding-inline: 20px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  color: rgb(255 255 255);
  background: rgb(0 156 230);
}

.content {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 20px;
  gap: 20px;
}

.content__title {
  font-size: 20px;
  padding-block-end: 10px;
  color: #222;
}

.content__cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.card__container {
  background: #fff;
  border-radius: 8px;
  border-inline-start: 4px solid #fff;
  box-shadow: 2px 3px 3px rgb(0 0 0 / 0.1);
  padding: 25px;
  flex-basis: 300px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.card__content {
  display: grid;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  color: #222;
  line-height: 1.2;
}

.card__text {
  color: #555;
}

.card__container_low {
  border-inline-start: 6px solid rgb(var(--color-low));
}

.card__container_normal {
  border-inline-start: 6px solid rgb(var(--color-normal));
}

.card__container_high {
  border-inline-start: 6px solid rgb(var(--color-high));
}

.card__button-container {
  display: flex;
  gap: 20px;
  justify-content: end;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 32px;
  block-size: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.card__button:has(.card__button-image_favorite) {
  background: rgb(var(--color-favorite) / var(--opacity-bg));
}

.card__button:has(.card__button-image_details) {
  background: rgb(var(--color-details) / var(--opacity-bg));
}

.card__button:has(.card__button-image_share) {
  background: rgb(var(--color-share) / var(--opacity-bg));
}

.card__button:hover:has(.card__button-image_favorite) {
  background: rgb(var(--color-favorite) / var(--opacity-color));
}

.card__button:hover:has(.card__button-image_details) {
  background: rgb(var(--color-details) / var(--opacity-color));
}

.card__button:hover:has(.card__button-image_share) {
  background: rgb(var(--color-share) / var(--opacity-color));
}

.card__button-image {
  inline-size: 20px;
  block-size: 20px;
}

.card__button-image_favorite {
  fill: rgb(var(--color-favorite) / var(--opacity-color));
}

.card__button-image_details {
  fill: rgb(var(--color-details) / var(--opacity-color));
}

.card__button-image_share {
  fill: rgb(var(--color-share) / var(--opacity-color));
}

.card__button:hover .card__button-image {
  fill: #fff;
}

.content__info {
  display: grid;
  gap: 30px;
  align-content: start;
}

.content__block {
  inline-size: 100%;
  min-inline-size: 300px;
}

.content__wraper {
  background: rgb(255 255 255);
  border-radius: 8px;
  padding-inline: 20px;
  padding-block: 20px;
  box-shadow: 2px 3px 3px rgb(0 0 0 / 0.1);
}

.content__news-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content__news-item {
  padding-inline: 10px;
  padding-block: 10px;
}

.content__news-item:not(:last-child) {
  border-block-end: 1px solid rgb(192 192 192 / 0.5);
  padding-block-end: 20px;
}

.content__news-item:not(:first-child) {
  padding-block-start: 20px;
}

.content__news-title {
  font-size: 14px;
}

.content__news-text {
  font-size: 12px;
  color: #555;
}

.content__users {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  gap: 20px;
}

.content__user {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 15px;
  align-content: center;
}

.content__user-image {
  inline-size: 45px;
  block-size: 45px;
  border-radius: 50%;
}

.content__link-username {
  text-decoration: none;
  color: #000;
  line-height: 1;
}

.content__link-username:hover {
  color: rgb(0 156 230);
}

.content__user-about {
  color: #555;
  line-height: 1;
}
